<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel="stylesheet" href="css/index.css"/>
    <meta charset="utf-8"/>
  </head>
  <body>
    <h3>Welcome to TAOFEEK ADEKOLA PORTFOLIO</h3>
    {{ message }}
  </body>
</html>